* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 30px;
}
.calculator {
  margin-top: 20px;
  margin-left: 20px;
}
.container {
  margin-top: 50px;
  flex-direction: row;
  width: 500px;
  background-color: rgb(41, 34, 34);
}
/* .buttons {
  } */
button {
  width: 90px;
  background-color: #f1f1f1;
  text-align: center;
  margin: 10px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f590;
}
#zero {
  width: 210px;
}
.display {
  /* margin: auto; */
  width: 445px;
  margin-left: 10px;
}
#wyswietlacz {
  background-color: white;
  margin: auto;
  height: 170px;
  border-radius: 40px;
}
#wynik {
  color: black;
  margin: auto;
  height: 200px;
  border-radius: 40px;
  text-align: right;
  padding-right: 50px;
  font-size: 120px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
/* button {
    display: flex;
    flex-wrap: wrap;
  } */
